/*Medidas del body en pagina perfil*/
body{
	
  margin-top: 1%;
  margin-left:15%;
  margin-right:15%;
  margin-bottom: 5%;

}

/*formato de la imagen */
.formatoImagen{
 width: 200px;
 height: 200px;
/*formato de las imagenes de tabla portafolio */
}


/*formato  de tabla portafolio */

.tablaFormato{
  
 width::100% !important; 
 height: 30% !important; 
 border: 10px !important;


}
/* hacer tabla responsiva */
.table-respo
{
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
}

/*alineacion de imagen en fila*/
.pad{
	padding: 15px;
}
/*alineacion de imagen en columna*/
.col{
	text-align: center;
}

/*formato de imagen principal */
.principalIma{

	text-align: center;
}

/*formato de pie de pagina */
footer{

  background: #E6E6E6;
  height:50px;
  width:100%;
  text-align: right;
  padding-top:  10px;
  padding-right: 10px;
  
}

/* posicion del boton atras */
.posicionBtn{
	text-align: right;
	padding-top:  10px;
  padding-right: 40px;
  padding-bottom: 20px;
}
/* formato de toda  letra en negritas*/
.pultimo{
  top:20px;
  font-weight:bolder;

}